pkgbase = jicmp6
	pkgdesc = something
	pkgver = 2.0.1_1
	pkgrel = 1
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = jdk8-openjdk
	makedepends = autoconf
	depends = jre8-openjdk-headless
	source = jicmp6-2.0.1_1::git+https://github.com/OpenNMS/jicmp6.git#tag=jicmp6-2.0.1-1
	md5sums = SKIP

pkgname = jicmp6

